    {% extends "layout.html.twig" %}

    {% block title %}
    {{ parent() }} - Accueil !
    {% endblock %}

     {% block content %}
     <header>{{ parent() }}</header>
     <h1> {{ name }} </h1>
     {% endblock %}
